
/* Gives Shadow to box */
:root{
  --box-shadow:0 1px 10px rgba(0,0,0,0.5) , 
  0 1px 10px rgba(0,0,0,0.5);
}

/* Outfit Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #172031;
  font-family: 'Outfit', sans-serif;
}

/* Everything Related to Login Box */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

/* Header of Login Box */
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #FF9F29;
  text-align: center;
}

/* Username and Password Headings */
.login-box .user-box {
  position: relative;
}

/* User and Pass Input Fields */
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* User, Pass Heading Transition on Click */
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* User, Pass Heading Transition on Click */
.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #FF9F29;
  font-size: 12px;
}

/* Forgot Pass Header */
.forgot__pass {
  font-size: 12px;
  color: #5b6b8b;
  float: right;
}

/* Submission Button */
.btn__submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FF9F29;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px
}

/* Submission Button Effects */

.btn__submit:hover {
  background: #FF9F29;
  color: rgb(10, 11, 21);
  border-radius: 5px;

}

.btn__submit span {
  position: absolute;
  display: block;
}

.btn__submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF9F29);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.btn__submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF9F29);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.btn__submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FF9F29);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.btn__submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FF9F29);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}