*,
*:before,
*:after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background:linear-gradient(135deg, #61d954, #2ebf75);
}

.wrapper{
    background-color:#ffffff;
    width:450px;
    padding:50px 0;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
    border-radius:8px;
    box-shadow:0 20px 25px rgba(0,0,0,0.2);
}

.container{
    width:300px;
    position:relative;
    margin:auto;
}

input,p{
    font-family:"Roboto Mono",monospace;

}

input{
    width:100%;
    height:50px;
    padding:0 40px 0 20px;
    position:relative;
    background-color:#f5f5f5;
    border:none;
    outline:none;
    border-radius:5px 5px 0 0;
}

#toggle{
    position:absolute;
    top:17px;
    right:15px;
    color:#808080;
    cursor:pointer;
}

.strength{
    width:25%;
    display:inline-block;
    position:relative;
    height:100%;
    bottom:5px;
}

#strength-bar{
    background-color:#dcdcdc;
    height:10px;
    position:relative;
}

p{
    width:100%;
    text-align:center;
    margin-top:20px;
}
